<ion-header>
  <ion-toolbar> <ion-title> Ionic Blank </ion-title> </ion-toolbar>
</ion-header>

<ion-content padding>
  <br />
  <ion-button (click)="subscribeTo()">Subscribe</ion-button>
  <ion-button color="danger" (click)="unsubscribeFrom()"
    >Unsubscribe</ion-button
  >
  <ion-button color="warning" (click)="getToken()">Get token</ion-button>
  {{ remoteToken }}

  <br />
  Notifications:
  <br />
  {{ notifications | json }}
</ion-content>